/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* body */
body {
  background-color: rgb(238, 238, 238);
  font-family: "Roboto", sans-serif;
}

/* header */
header {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 255, 191);
}

/* main */
main h2 {
  font-size: 32px;
  margin-top: 100px;
  text-align: center;
}

main .cont {
  padding: 50px;
  max-width: 1180px;
  margin: 0 auto;
}

main .cont ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

main .cont ul li {
  width: calc(((100% + 30px) / 3) - 30px);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
}

/* debug */
main .card .img {
  height: 200px;
  width: 100%;
}

main .card .img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

main .card .info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .card .info .animale {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* footer */
footer {
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  text-align: center;
  font-weight: bold;
}

/* media queries */
@media screen and (max-width: 992px) {
  /* main */
  main .cont ul li {
    width: calc(((100% + 30px) / 2) - 30px);
  }
}

@media screen and (max-width: 600px) {
  /* header */
  header {
    display: flex;
    flex-direction: column;
  }

  /* main */
  main .cont ul li {
    width: 100%;
  }
}
